<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Impressao.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
    <add name="DescricaoNoPDF" connectionString="Não"/>
		<add name="EspessuraLayer" connectionString="100"/>
		<add name="ImprimeCotas" connectionString="Não"/>
    <add name="Impressora" connectionString="PDF"/>
		<add name="SalvarDesenhos" connectionString="Não"/>
		<add name="TamanhoFormato" connectionString="A0"/>
	</connectionStrings>
 <userSettings>
  <Impressao.Settings1>
   <setting name="DescriçãoNoPDF" serializeAs="String">
    <value>Sim</value>
   </setting>
   <setting name="EspessuraLayer" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Impressora" serializeAs="String">
    <value>PDF</value>
   </setting>
   <setting name="ImprimeCotas" serializeAs="String">
    <value>Sim</value>
   </setting>
   <setting name="SalvarDesenhos" serializeAs="String">
    <value>Não</value>
   </setting>
   <setting name="TamanhoFormato" serializeAs="String">
    <value>A0</value>
   </setting>
   <setting name="TagPadrao" serializeAs="String">
    <value>Mineiro</value>
   </setting>
  </Impressao.Settings1>
 </userSettings>
</configuration>